form {
    input {
        border: 1px solid $black;
        border-radius: 5px;
        padding: 10px;
    }
}

.woocommerce-account{
    margin: auto;
}

@media (max-width: 1024px) {
    .menu-primary-container{
        display: none;
    }
}