/*
* Here goes our Gutenberg Blocks embedded styles for ease of editing.
*/

// bootstrap's imported
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// our local styles and mixins

@import 'variables'; // we load our own theme's variables after bootstrap's to make sure we override colors and  other stuff
@import 'functions';
@import 'mixins/*'; //all our mixins are in directory separated by field of usage in files.

// these are wrapped in editor so we'll not override global fonts etc.
.editor-styles-wrapper {
	.wp-block {
		max-width: 100%;
	}

	@import 'partials/blocks/**/*';
}
