/* Colors */

$black: #000;
$white: #fff;


$body-black: #0f0f0f;
$text-black: $black;
$light-gray2: grey;
$dark-gray: grey;
$primary:rgb(79, 70, 229);


/* Fonts */
$headings-font: 'Public Sans', sans-serif;
$content-font: 'Open Sans', sans-serif;

@mixin headings-font() {
	font-family: $headings-font;
	font-weight: 500;
}

@mixin content-font() {
	font-family: $content-font;
}

/* Other */


/* GForms constants */

$form_field_bg: $white;
$form_field_height: 5rem;
$form_field_padding: 1.5rem;
$form_field_border_radius: 0.5rem;
$form_field_border: 1px solid $light-gray2;
$form_field_color: $dark-gray;
$form_field_shadow: none;

// radio & checkbox
$form_field_height-radio: 3rem;
$form_field_border-radio: 1px solid $light-gray2;
$form_field_border-radio_checked: 1px solid $light-gray2;

$form_label_margin: 0.8rem;
$form_label_font_size: 1.4rem;
$form_label_font_weight: 400;
$form_label_complex_font_size: 1.8rem;

$form_required_color: inherit;
$form_error_color: red;
$form_border_error_color: red;

$form_spacer: 2.4rem; // horizontal distance between two fields in a row

/* Slick constants */

$slick-font-path: './fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: './' !default;
$slick-arrow-color: $black !default;
$slick-dot-color: $black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '←' !default; //"\2190" !default;
$slick-next-character: '→' !default; //"\2192" !default;
$slick-dot-character: '*' !default;
$slick-dot-size: 20px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

$arrow-down: '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="4" viewBox="0 0 8 4"><path d="M4,0,8,4H0Z" transform="translate(8 4) rotate(180)" fill="#c05f00"/></svg>';
$arrow-left: '<svg xmlns="http://www.w3.org/2000/svg" width="18.044" height="18.044" viewBox="0 0 18.044 18.044"><path id="Arrow" d="M0,0,9.517,9.517M10.345,3.4v6.94H3.156" transform="translate(16.044 9.022) rotate(135)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>';
$arrow-right: '<svg xmlns="http://www.w3.org/2000/svg" width="18.044" height="18.044" viewBox="0 0 18.044 18.044"><path id="Arrow" d="M0,0,9.517,9.517M10.345,3.4v6.94H3.156" transform="translate(2 9.022) rotate(-45)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>';
$arrow-left-white: '<svg xmlns="http://www.w3.org/2000/svg" width="18.044" height="18.044" viewBox="0 0 18.044 18.044"><path id="Arrow" d="M0,0,9.517,9.517M10.345,3.4v6.94H3.156" transform="translate(16.044 9.022) rotate(135)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>';
$arrow-right-white: '<svg xmlns="http://www.w3.org/2000/svg" width="18.044" height="18.044" viewBox="0 0 18.044 18.044"><path id="Arrow" d="M0,0,9.517,9.517M10.345,3.4v6.94H3.156" transform="translate(2 9.022) rotate(-45)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>';
